---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- assign posts = site.posts | sort: "date" -%}
    <ul class="post-list">
      {% capture year %}2014{% endcapture %}
      {{ year }}
      {%- for post in posts -%}
        {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if post_year == year %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}  
            </a>
          </li>
        {% endif %}
      {%- endfor -%}
      <br>
      {% capture year %}2015{% endcapture %}
      {{ year }}
      {%- for post in posts -%}
        {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if post_year == year %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}  
            </a>
          </li>
        {% endif %}
      {%- endfor -%}
      <br>
      {% capture year %}2016{% endcapture %}
      {{ year }}
      {%- for post in posts -%}
        {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if post_year == year %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}  
            </a>
          </li>
        {% endif %}
      {%- endfor -%}
      <br>
      {% capture year %}2017{% endcapture %}
      {{ year }}

      {%- for post in posts -%}
        {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if post_year == year %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}  
            </a>
          </li>
        {% endif %}
      {%- endfor -%}
      <br>
      {% capture year %}2018{% endcapture %}
      {{ year }}
      {%- for post in posts -%}
        {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if post_year == year %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}  
            </a>
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
