---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- assign posts = site.posts | sort: "date" -%}
    <ul class="post-list">
      <!-- 2014 -->
      {% capture year %}2014{% endcapture %}
      {{ year }}
      {% include year_posts.html %}
      <!-- 2015 -->
      {% capture year %}2015{% endcapture %}
      {{ year }}
      {% include year_posts.html %}
      <!-- 2016 -->
      {% capture year %}2016{% endcapture %}
      {{ year }}
      {% include year_posts.html %}
      <!-- 2017 -->
      {% capture year %}2017{% endcapture %}
      {{ year }}
      {% include year_posts.html %}
      <!-- 2018 -->
      {% capture year %}2018{% endcapture %}
      {{ year }}
      {% include year_posts.html %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
