---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% for event in site.data._events %}
      {% if event.post_url == page.post_url %}
        <h1 class="post-title p-name" itemprop="name headline">{{ event.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ event.date | date: date_format }}
          </time>
          {% if event.end_date %}
             - 
            <time class="dt-published" datetime="{{ page.end_date | date_to_xmlschema }}">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ event.end_date | date: date_format }}
            </time>
          {% endif %}
          
        </p>
      {% endif %}
    {% endfor %}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <!-- pull data from yaml -->
    {% for event in site.data._events %}
      {% if event.post_url == page.post_url %}

        {% if event.artists %}
          <p>
            artists: 
            {% for artist in event.artists %}
              {% if artist == event.artists.first %}
                {{ artist }}
              {% else %}
                / {{ artist }}
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        
        {% if event.links %}
          {% for link in event.links %}
            <li><a href="{{ link }}">{{ link }}</a></li>
          {% endfor %}  
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% for image in site.static_files %}
    {% if image.path contains page.asset_folder %}
      {% if image.path contains '.jpg' or image.path contains '.JPG' or image.path contains '.jpeg' or image.path contains '.gif' or image.path contains '.GIF' %}
        <a href="{{ site.baseurl }}{{ image.path }}"><img src="{{ site.baseurl }}{{ image.path }}" alt="{{ page.title }}" /></a>
      {% else %}
        <li>{% if image.path contains '.zip' %}Download all from this page: {% endif %}<a href="{{ site.baseurl }}{{ image.path }}">{{ image.path }}</a></li>  
      {% endif %}
    {% endif %}
  {% endfor %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
