---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <p>{{ page.title }}</p>
  {%- endif -%} -->

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- assign posts = site.posts | sort: "date" -%}
    <ul class="post-list">
      {% capture year %}{{ page.title }}{% endcapture %}
      {{ year }}
      {% include year_posts.html %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>

